<br><br>
<div class="center">
<p class="header center"><b>Currency Converter (by Shai Teper)</b></p><br>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>I have:</mat-label>
    <input #inputValue matInput id="inputValue" name="inputValue" placeholder="1" value="{{numCur}}"  type="number" min="1" autocomplete="off" class="CurrValue" >
</mat-form-field>

<mat-form-field appearance="fill" class="margin">
  <mat-label>From:</mat-label>
  <mat-select [(value)]="fromChoosen">
    <mat-option *ngFor="let item of fromList" [value]="item">
    {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="margin">
  <mat-label>To:</mat-label>
  <mat-select [(value)]="toChoosen">
    <mat-option *ngFor="let item of toList" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div>
  <button mat-button (click)="inputOnChange(inputValue.value)" color="primary">Calculate</button>

  <!-- <button mat-button (click)="clearHistory()" color="primary">Clear History</button> -->
</div>

<br><br>
<div>
    <div class="history" *ngIf="result.value != ''">
        <span>{{result.value}}</span>
        <span>&nbsp;{{result.from}}</span>
        <span>&nbsp;=&nbsp;</span>
        <span>{{result.total}}</span>
        <span>&nbsp;{{result.to}}</span>
    </div>
</div>

</div>